background {
    background-color: #000000;
    background-size: cover;
    background-position: center;
}

h1 {
    color: red;
    font-family: "Comic Sans MS", sans-serif;
}

p {
    font-size: 16px;
    line-height: 1;
    color: #B30000;
}